project:
  type: website
  output-dir: docs
  execute-dir: project

website:
  title: "SIBIO"
  navbar:
    left:
      - href: index.qmd
        text: Inicio
      - href: documentos/
        text: Documentos
      - href: acerca.qmd
        text: Acerca

lang: es
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



